  <!-- Header -->
  <div id="Main-Header-DIV" class="row">
    <header class="main-Header-DIV-Header small-8 small-offset-2 medium-4 medium-offset-4 columns">
      <object type="image/svg+xml" data="img/horizonlogo.svg" class="logo">
        Team Aslan&#39;s Horizons <!-- fallback image in CSS -->
      </object>
    </header>
  </div>

  <main role="main" id="fullpage" class="main">
    <!-- Section 1 -->
    <section id="Horizons-Page-1" class="section">
      <div class="pageContentWrapper">
        <div class="row">

          <section class="horizon-Page-Blurb medium-5 columns">

            <% if logged_in? %>
              <h5 class="username-home">Welcome <span><%= current_user.user_name %></span>! </h5>
            <% end %>


            <h2>Expand your horizons</h2>
            <p>Race through the city you love</p>
            <h5><a href="#" class="horizon-Page-Blurb-Secondary-Link">More info</a></h5>
          </section>

          <section class="horizon-Page-Race-Status medium-7 columns">
            <h4><i class="fi-graph-bar"></i>
              <% if race_running? %>
              Current Race
              <% else %>
              Last Race
              <% end %>
            </h4>

            <ul>

              <!-- Table FRONT Title -->
              <li class="row">
                <div class="horizon-Page-Race-Columns-Title small-4 columns">
                  <h5>Username</h5>
                </div>
                <div class="horizon-Page-Race-Columns-Title small-4 columns">
                  <h5>Checkpoints</h5>
                </div>
                <div class="horizon-Page-Race-Columns-Title horizon-Page-Race-Columns-TimeLapse small-4 columns">
                  <h5>Timelapse</h5>
                </div>
              </li>


              <!-- List Users of the most recent race -->
                <% @five_users.each do |user| %>

                <li class="row">
                  <div class="horizon-Page-Race-Columns small-4 columns">
                    <h5><i class="colour-marker fa fa-circle"></i> <%= user.user_name %></h5>
                  </div>
                  <div class="horizon-Page-Race-Columns small-4 columns">

                    <div class="progress">
                      <span class="meter" style="width: <%= (user_checkpoints_hit(user.id).count.to_f/current_race_checkpoints.count)*100 %>%"></span>
                    </div>

                    <h5><%= user_checkpoints_hit(user.id).count %>/<%= current_race_checkpoints.count %></h5>
                  </div>
                  <div class="horizon-Page-Race-Columns horizon-Page-Race-Columns-TimeLapse small-4 columns">
                    <h5>02:20:40</h5>
                  </div>
                </li>

              <% end %>
            </ul>


            <% if race_running? && !logged_in? %>
                <a role="button" href="#" data-reveal-id="accessHorizons" class="main-btn button radius large medium-6 column">Join the race</a>
            <% elsif !race_running? && !logged_in? %>
                <a role="button" href="#" data-reveal-id="accessHorizons" class="main-btn button radius large medium-6 column">New Race</a>
            <% elsif !race_running? && logged_in? %>
              <form action="/race/new" method="post">
                <input type="submit" class="main-btn button radius large medium-6 column" value="New Race">
              </form>
             <% elsif race_running? && logged_in? %>
              <form action="/race/join" method="post">
                <input type="submit" class="main-btn button radius large medium-6 column" value="Join Race">
              </form>
            <% end %>

            <a role="button" href="#" class="howToPlay-btn medium-6 column">How to play</a>

          </section>


        </div>
      </div>
    </section>

    <!-- NEW SECTION START -->
    <section id="HowToPlay" class="section">
      <div class="otherPageContent">
        <div class="row">
            <section class="howToPlay-Info medium-5 columns">
              <h4><i class="fi-compass"></i> How to Play</h4>
              <ul>
                <li class="howToPlay-SignIn">
                  <i class="fa fa-sign-in"></i>
                  <section class="howToPlayList-Right">
                    <h3>Join a race</h3>
                    <p>Compete in the current race, or start a new one.</p>
                  </section>
                </li>
                <li class="howToPlay-Join">
                  <i class="fa fa-crosshairs"></i>
                  <section class="howToPlayList-Right">
                    <h3>Collect the checkpoints</h3>
                    <p>Get to each checkpoint as quickly as you can. Run, ride, or fly - it doesn't matter, just HURRY!</p>
                  </section>
                </li>
                <li>
                  <i class="fa fa-trophy"></i>
                  <section class="howToPlayList-Right">
                    <h3>Win the race</h3>
                    <p>The first person to reach all of the checkpoints (in any order) wins!</p>
                  </section>
                </li>
              </ul>
              <h5><a href="#" class="horizon-Page-Blurb-Secondary-Link">About team Aslan</a></h5>
            </section>

            <section class="howToPlay-Devices hide-for-small-only medium-7 columns">

              <% if race_running? && !logged_in? %>
                  <a role="button" href="#" data-reveal-id="accessHorizons" class="main-btn button radius large medium-6 medium-offset-3 column">Join the race</a>
              <% elsif !race_running? && !logged_in? %>
                  <a role="button" href="#" data-reveal-id="accessHorizons" class="main-btn button radius large medium-6 medium-offset-3 column">New Race</a>
              <% elsif !race_running? && logged_in? %>
                <form action="/race/new" method="post">
                  <input type="submit" class="main-btn button radius large medium-6 medium-offset-3 column" value="New Race">
                </form>
               <% elsif race_running? && logged_in? %>
                <form action="/race/join" method="post">
                  <input type="submit" class="main-btn button radius large medium-6 medium-offset-3 column" value="Join Race">
                </form>
              <% end %>

              <!-- <a role="button" href="#" data-reveal-id="accessHorizons" class="main-btn button radius large medium-6 medium-offset-3 column">Join the race</a> -->
            </section>
        </div>
      </div>
    </section>

    <section id="DaTeam" class="section">
      <div class="otherPageContent">
        <div class="row">
          <section class="horizon-Page-Blurb medium-5 columns">
            <h2>Expand your HORiZONS in a fun way</h2>
            <p>by racing others through the city you love. There may or may not be a prize for winning. <a href="mailto:info@horizonsapp.co">info@horizonsapp.co</a></p>
            <a role="button" href="#" data-reveal-id="accessHorizons" class="main-btn button radius large medium-9 column">Join the race</a>
            <h5 class="medium-10"><a href="#" class="horizon-Page-Blurb-Secondary-Link">More info</a></h5>
          </section>

            <section class="daTeam-Profile medium-7 columns">
              <div >
                <ul>
                  <li class="daTeam-Container">
                    <figure>
                      <img src="img/dateammatt.jpg" alt="Team Aslan - Matt Cameron">
                    </figure>
                    <section>
                      <h4>Matt Cameron</h4>
                      <h5>Full stack Developer</h5>
                      <ul class="sosmedAslan">
                        <li><a href="https://au.linkedin.com/in/mattlbcameron" target="_blank" alt="Matt Cameron Linkedin"><i class="fa fa-linkedin"></i></li>
                        <li><a href="https://github.com/mattcameron" target="_blank" alt="Matt Cameron Github"><i class="fa fa-github"></i></li>
                      </ul>
                    </section>
                  </li>
                  <li class="daTeam-Container">
                    <figure>
                      <img src="img/dateamdom.jpg" alt="Team Aslan - Dominic White">
                    </figure>
                    <section>
                      <h4>Dominic White</h4>
                      <h5>Full stack Developer</h5>
                      <ul class="sosmedAslan">
                        <li><a href="https://au.linkedin.com/in/dominicpaulwhite" target="_blank" alt="Dominic White Linkedin"><i class="fa fa-linkedin"></i></li>
                        <li><a href="https://github.com/DomWhite" target="_blank" alt="Dominic White Github"><i class="fa fa-github"></i></li>
                      </ul>
                    </section>
                  </li>
                  <li class="daTeam-Container">
                    <figure>
                      <img src="img/dateambeta.jpg" alt="Team Aslan - Beta Ngadiman">
                    </figure>
                    <section>
                      <h4>Beta Ngadiman</h4>
                      <h5>Front End Developer &amp; Designer</h5>
                      <ul class="sosmedAslan">
                        <li><a href="https://www.linkedin.com/in/bngadiman" target="_blank" alt="Beta Ngadiman Linkedin"><i class="fa fa-linkedin"></i></li>
                        <li><a href="https://github.com/37celsius" target="_blank" alt="Beta Ngadiman Github"><i class="fa fa-github"></i></li>
                        <li><a href="https://twitter.com/37centigrade" target="_blank" alt="Beta Ngadiman Twitter"><i class="fa fa-twitter"></i></li>
                        <li><a href="https://www.behance.net/37celsius" target="_blank" alt="Beta Ngadiman Behance"><i class="fa fa-behance"></i></li>
                      </ul>
                    </section>
                  </li>
                </ul>
              </div>

            </section>
        </div>
      </div>
    </section>
    <!-- NEW SECTION END -->

  </main>

  <div id="Main-Footer-DIV" class="row">
    <footer class="main-Footer-DIV-Footer">
      <div class="small-3 medium-5 columns">
        <object type="image/svg+xml" data="img/teamaslanlogo.svg" class="aslan-logo">
        Team Aslan<!-- fallback image in CSS -->
        </object>
      </div>
      <div class="small-9 medium-7 columns end">
        <p>&copy; 2015 Team Aslan. A <a href="#" > General Assembly</a> Project.  <a href="#" >Terms &amp; Conditions</a> | <a href="#" >Privacy Policy</a> | <a href="#" >Contact</a></p>
      </div>
    </footer>
  </div>

  <!-- Login or Register MODAL -->
  <div id="accessHorizons" class="reveal-modal small" data-reveal aria-labelledby="accessHorizonsTitle" aria-hidden="true" role="dialog">

    <section class="accessHorizons-LoginSection">

        <h4>Login to Horizons</h4>

        <form action="/session" method="post">

          <div class="row collapse">
            <div class="small-3 large-2 columns">
              <span class="prefix"><i class="fi-mail"></i></span>
            </div>
            <div class="small-9 large-10 columns">
              <input type="email" name="email" placeholder="Email address">
            </div>
          </div>

          <div class="row collapse">
            <div class="small-3 large-2 columns">
              <span class="prefix"><i class="fi-key"></i></span>
            </div>
            <div class="small-9 large-10 columns">
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="row collapse">
            <div class="accessHorizons-forgotPassword small-7 large-8 columns">
              <a href="#">Forgot your password?</a>
            </div>
            <div class="accessHorizons-LogInBTN small-5 large-4 columns">
              <input type="submit" class="main-btn button radius" value="Log In">
            </div>
          </div>

      </form>
    </section>

    <section class="accessHorizons-RegisterSection">

      <h4>Register to Horizons</h4>

      <form action="/signup" method="post">

          <div class="row collapse">
            <div class="small-3 large-2 columns">
              <span class="prefix"><i class="fi-torso"></i></span>
            </div>
            <div class="small-9 large-10 columns">
              <input type="text" name="username" placeholder="Username">
            </div>
          </div>

          <div class="row collapse">
            <div class="small-3 large-2 columns">
              <span class="prefix"><i class="fi-mail"></i></span>
            </div>
            <div class="small-9 large-10 columns">
              <input type="email" name="email" placeholder="Email address">
            </div>
          </div>

          <div class="row collapse">
            <div class="small-3 large-2 columns">
              <span class="prefix"><i class="fi-key"></i></span>
            </div>
            <div class="small-9 large-10 columns">
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="row collapse">
            <div class="accessHorizons-forgotPassword small-7 large-8 columns">

            </div>
            <div class="accessHorizons-LogInBTN small-5 large-4 columns">
              <input type="submit" class="main-btn button radius" value="Register">
            </div>
          </div>

      </form>
    </section>


  <a class="close-reveal-modal" aria-label="Close">&#215;</a>

</div>
<script>
$(function(){
      $('#fullpage').fullpage({

        navigation: true,
        navigationPosition: 'right',


      verticalCentered: false
    });
  });
</script>
